@import url('https://fonts.googleapis.com/css2?family=Kavoon:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Junge:wght@400&display=swap');
body {
  	margin: 0; line-height: normal;
}
.iphone161Child {
    position: absolute;
    top: -224px;
    left: -281px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    background-color: rgba(222, 49, 99, 0.3);
    width: 777px;
    height: 773px;
}
.welcomeTo {
    margin: 0;
}
.twinnin {
    margin: 0;
    font-size: 75px;
}
.welcomeToTwinninContainer1 {
    width: 100%;
}
.welcomeToTwinninContainer {
    position: absolute;
    top: 181px;
    left: 19px;
    font-family: Kavoon;
    display: flex;
    align-items: center;
    width: 355px;
    height: 148px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.iphone161Item {
    position: absolute;
    top: 606px;
    left: 83px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 76px;
    background-color: #151515;
    width: 228px;
    height: 58px;
    cursor: pointer;
    /* Center the text */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    font-size: 25px;
    color: #ffd700;
    text-shadow: 1px 0 0 #f699c1, 0 1px 0 #f699c1, -1px 0 0 #f699c1, 0 -1px 0 #f699c1;
    position: static;
}
/*
.login {
    position: absolute;
    top: 620px;
    left: calc(50% - 34.5px);
    font-size: 25px;
    color: #ffd700;
    text-align: left;
    text-shadow: 1px 0 0 #f699c1, 0 1px 0 #f699c1, -1px 0 0 #f699c1, 0 -1px 0 #f699c1;
}
*/
.signUp {
    position: absolute;
    top: 675px;
    left: 167px;
    font-size: 16px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    cursor: pointer;
}
.batteryIcon {
    position: absolute;
    top: 0px;
    right: 0.07px;
    width: 24.3px;
    height: 11.3px;
}
.wifiIcon {
    position: absolute;
    top: 0px;
    right: 29.37px;
    width: 15.3px;
    height: 11px;
}
.mobileSignalIcon {
    position: absolute;
    top: 0.34px;
    right: 49.7px;
    width: 17px;
    height: 10.7px;
}
.rightSide {
    position: absolute;
    top: 17.33px;
    right: 20.63px;
    width: 66.7px;
    height: 11.3px;
}
.div {
    position: absolute;
    top: calc(50% - 10px);
    left: 21px;
    letter-spacing: -0.5px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
    width: 54px;
}
.statusBar {
    position: absolute;
    width: calc(100% - 3px);
    top: 0px;
    right: 1px;
    left: 2px;
    backdrop-filter: blur(24px);
    background-color: rgba(255, 255, 255, 0);
    height: 44px;
    font-size: 15px;
    color: #1a1a1a;
    font-family: Helvetica;
}
.iphone161 {
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    background-color: #f88379;
    height: 852px;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    color: #000;
    font-family: Junge;
}

